  .add-card-img {
    display: flex;
  }
  .add-card-img input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }
  .add-card-img label {
    width:150px;
    font-weight: 700;
    line-height: 200px;
    color: white;
    background-color: grey;
    text-align: center;
  }

.input-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
}

.input-container input, select, label{
  /* display: block; */
  width: 100%;
}

.input-container input, select{
  /* display: block; */
  padding: 0.2rem 0;
  border-radius: 1rem;
}