  .add-card-img {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 2rem; 
    align-items: stretch;
    margin: 0;
    
  }
  .add-card-img input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    /* overflow: hidden;
    position: absolute;
    z-index: -1; */
  }
  .add-card-img label {
    width:150px;
    height: 200px;
    font-weight: 700;
    color: white;
    background-color: grey;
  }
  .name {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
  }
  .weekName {
    font-size: 1.1rem;
    margin-right: 1rem;
    width: 10%;
  }
.visitHour {
  padding: 0 0.5rem;
  border-left: 1px solid grey;
  
}
.visitHour:last-of-type {
border-right: 1px solid grey;
}